/*h1 {
    color: blue;

    font-size: 100px

}
.heading{
    background-color: rgb(0, 128, 49);
    color: pink;
}
body{


    background-size:125%;
    background-image: url("./bilder/hdkatze.jpg ");
}

ul {
    color: red;

    font-size: 40px
}

.Katze {
    border: 5px solid black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .85);
}

ul:hover {
    background-image: url("./katzebild.jpg")
}

.Katze2 {
    width:800px; height:500px;
    background-size:100%;
    background-repeat: no-repeat;
    background-image: url("./katzenbabys.jpg");


}



.Katze3:hover {
    background-size:100%;
    background-image: url('katzebild.jpg')
}





.Katze2:hover { 
    width:800px; height:500px;
    background-size:100%;
    
    background-image:url("bilder/katzebild.jpg"); } */ 

    body{

        width: 100vr;
        height: 50vh;
        background-image: url("./katzenbilder/hintergrundbild.jpg ");
        
        /*background-image: url("./bilder/WAREShintergrundbild.jpg ");*/

    }
    .verstecken{
        display:none;
    }  
    
    .showhundewebsite{
        width: 300px;
        height: 200px;
        font-size: 60px;
        color: green;
        background-color: rgb(92, 196, 92);
    }

    .showkatzenwebsite{
        width: 300px;
        height: 200px;
        font-size: 60px;
        color: blue;
        background-color: blueviolet;
    }

    .showgiv    {
        width: 350px;
        height: 200px;
        font-size: 60px;
        color: red;
        background-color: rgb(175, 4, 4);
    }

    h1, h2, h3, h4, p {
        text-align: center;
    }
    h1 {
        font-size: 100px;
        color: blueviolet;
        padding-top: 3%;
    }
    a:link {
        color: #000000;
        text-decoration: underline;
        text-decoration-color: #000000;
    }
    a:visited {
        color: #000000;
        text-decoration: underline;
        text-decoration-color: #000000;
    }
    a:hover {
        color: #000000;
        text-decoration: underline;
        text-decoration-color: #ff0000;
    }
    .menu a {
        margin: 5px;
    }
    .img-container {
        overflow: hidden;
        position: relative; /* Without, w and h different? */
        width: 60vw;
        height: 60vh;
        margin-left: auto;
        margin-right: auto;
    }
    .img-container img {
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 50vw;
        height: auto;
        opacity: 0;
        z-index: -1;
    }
    .img-container img.next {
        opacity: 1;
        z-index: 1;
    }
    .img-container img.prev {
        opacity: 1;
        z-index: 2;
    }
    .img-container img.fade-out {
        opacity: 0;
        transition: visibility 0s .5s, opacity .5s linear;
        visibility: hidden;
    }
    .link-icons {
        text-align: center;
    }
    .link-icons img {
        display: inline-block;
        margin: 10px;
        max-width: 32px;
        opacity: 1;
        transition: opacity 0.5s;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        /*https://stackoverflow.com/questions/24933430/img-src-svg-changing-the-fill-color*/
        fill: orange;
        color: #ff0000 !important;
    }
    .link-icons img:hover {
        opacity: 0.5;
        fill: blue !important;
    }
    
